
html, body {

  height: 100%;
  margin: 0;
  overflow: none;
  display: flex;
  flex-direction: column;
  background-color: var(--negro);
}


main {

  flex: 1;

}

footer {

  padding: 20px 0;

}


.sticky-top {

  position: sticky;

  top: 0;

  z-index: 1040;
 

}

.rounded-3 {
border-radius: 50px;
}

/* Color Palette */
:root {
  
  --blanco: #ffffff;
  --gris_100: #A2A2A2;
  --gris_200: #737373;
  --amarillo: #F9EC2D;
  --negro: #141414;
}

/* Background colors */
.dark-bg {
background-color: var(--negro)!important;
}

.light-bg {
  background-color: var(--blanco)!important;
  }

/* Fonts */
@font-face {
  font-family:'DM Sans';
  font-weight: 300;
  src: url(/fonts/DMSans-Light.ttf) format(ttf);
}

@font-face {
  font-family:'DM Sans';
  font-weight: 400;
  src: url(/fonts/DMSans-Regular.ttf) format(ttf);
}

@font-face {
  font-family:'DM Sans';
  font-weight: 500;
  src: url(/fonts/DMSans-Medium.ttf) format(ttf);
}

@font-face {
  font-family:'DM Sans';
  font-weight: 600;
  src: url(/fonts/DMSans-SemiBold.ttf) format(ttf);
}

@font-face {
  font-family:'DM Sans';
  font-weight: 700;
  src: url(/fonts/DMSans-Bold.ttf) format(ttf);
}

@font-face {
  font-family:'DM Sans';
  font-weight: 800;
  src: url(/fonts/DMSans-ExtraBold.ttf) format(ttf);
}

/* Text */

h5 {
color: var(--gris_100);
font-weight: 500;
text-transform: uppercase;
font-size: 0.9rem;
}

h3.regular {
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

p {
  font-family: DM Sans;
  font-weight: 300;
}

.display-1{
  font-weight: 700;
}

li {
  margin: 10px 0;
  font-weight: 300;
}

.white-text{

  color: var(--blanco);
}

.black-text{

  color: var(--negro);
}
.gris-100-text {
  color: var(--gris_100);
}

.gris-200-text {
  color: var(--gris_200);
}


/* Nav bar */

.navbar-brand {

  padding-right: 100px;

}


/* Footer */

/* Buttons and links */

.btn-primary {
    color: var(--negro);
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

  }
  .btn-primary:hover {
    color: var(--negro);
    background-color: var(--blanco);
    border-color: var(--blanco);
  }


  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--blanco);
    background-color: var(--negro);
    border-color: var(--gris_100);
}
  
  .btn-primary-2 {
    color: var(--negro);
    background-color: #FF8956;
    border-color: #FF8956;
    font-weight: 400;
  }
  .btn-primary-2:hover {
    color: var(--blanco);
    background-color: var(--negro);
    border-color: var(--negro);
  }
  
  
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: var(--blanco);
    background-color: var(--negro);
    border-color: var(--negro);
    box-shadow: 0 0 0 0.25rem var(--amarillo);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: var(--blanco);
    background-color: var(--negro);
    border-color: var(--negro);
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--negro);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #7B8BA3;
    background-color: #D3D8E0;
    border-color: #D3D8E0;
  }
  
  .btn-secondary {
    color: var(--negro);
    background-color: none;
    border-color: var(--negro);
    font-weight: 400;
  }
  .btn-secondary:hover {
    color: var(--blanco);
    background-color: var(--negro);
    border-color: var(--negro);
  }

.btn-tertiary {

  font-size: 0.8rem;
  padding-left: 0;
  padding-right: 0;
}

  .nav-link {

    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color:var(--blanco);
  }


  /* Text Animation */

  .text-animation {
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
  }
  
  .text-animation ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
  
    animation: scroll 100s linear infinite;
  }
  
  .text-animation:hover ul {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }


/* Animation of sections on scroll */


.hidden {
  opacity: 0;
  transform: scale(0.97);
  filter: blur(1px);
  transition: all 1900ms ease;
  }
.show {

  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}
/* Cards */

.card {

  border-radius: 20px !important;
  height: 100%;
  border-width: 0.5px;
  border-color: var(--gris_100);
}

.card-body {
  background-color: var(--negro);
  padding: 30px;
  border-width: 0.5px;
  border-radius: 20px; 
  color: var(--gris_100) !important;
}

/* 14. Selection Color */

body p::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body p::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body p::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body h1::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h1::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h1::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body h2::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h2::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h2::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body h3::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h3::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h3::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body h4::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h4::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h4::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body h5::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h5::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body h5::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body a::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body a::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body a::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}

body li::selection {
  background: var(--amarillo);
  color: var(--negro);
}
body li::-moz-selection {
  background: var(--amarillo);
  color: var(--negro);
}
body li::-webkit-selection {
  background: var(--amarillo);
  color: var(--negro);
}
.rounded-50 {
  border-radius: 50px;
}
